<% provide(:title, t(:contact)) %>
<div class="contact-page row">
  <div class="col-md-8 col-md-offset-1">
    <h1><%= t(:contact) %></h1>
    <p>
      Jakiekolwiek pytania, uwagi, porady i wskazówki proszę słać na poniższy adres:
    </p>
    <% @admins.each do |admin| %>
      <p>email: <%= admin.email %></p>
    <% end %>
  </div>
</div>
