<% provide(:title, "Home") %>

<div class="home-page row">
  <div class="col-md-8 col-md-offset-1">
    <h1>Welcome to the Blog</h1>
    <p>The Blog is a blog dedicated to my self improvement in various areas of life
      such as programming, logical thinking, healthy lifestyle and calisthenics.</p>

    <p>
      This blog is written completely by myself.
    </p>

    <p>
      To write comments you need to create your own account.
    </p>

    <%= link_to "Enjoy", articles_path %>
  </div>
</div>
