<div class="article-date">
  <p>
    <%= t(:submitted) %>: <%= article.created_at.to_formatted_s(:db) %>
  </p>
</div>
<div class="article-content">
  <% renderer = Redcarpet::Render::HTML.new() %>
  <% markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>
  <% text = markdown.render(article.text) %>
  <%= simple_format(text) %>
</div>
