<div class="article-date">
  <p>
    <%= t(:submitted) %>: <%= article.created_at %>
  </p>
</div>
<div class="article-content">
  <% renderer = Redcarpet::Render::HTML.new() %>
  <% markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>
  <% text = article.text %>
  <% if length == 'excerpt' %>
    <% text = sanitize(truncate(text, length: 1200)) %>
  <% end %>
  <% text = markdown.render(text) %>
  <%= simple_format(text) %>
</div>
