<% provide(:title, "Article") %>
  <h2>
    <%= @article.title %>
  </h2>
<p>
  <%= @article.text %>
</p>
<% if current_user.try(:admin) %>
  <%= link_to "edit", edit_article_path %>
  <% if current_user.try(:admin?) %>
    <%= link_to " | delete", @article, method: :delete,
              data: { confirm: "You sure?" } %>
  <% end %>
<% end %>
