<div class="row">
  <div class="col-md-4">
    <h3><%= user_group %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Name</h4>
  </div>

  <div class="col-md-4">
    <h4>Email</h4>
  </div>

  <% if current_user.admin? %>
    <div class="col-md-4">
      <h4>Actions</h4>
    </div>
  <% end %>
</div>
