@import "bootstrap-sprockets";
@import "bootstrap";

$input_color: #E0EDF3;

body {
  background-color: #393939;
  color: lightblue;
  padding-top: 70px;
}

/* forms */

textarea {
  background-color: $input_color;
  color: #555555;
  height: auto;
  width: 100%;
}

.login-form, .register-form{
  padding: 0;
  margin: 0 auto;
}

.login-form .form-control, .register-form .form-control, .edit-user-form .form-control,
  .reset-password-form .form-control, .change-password-form .form-control {
  position: relative;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  border-color: black;
}
.login-form .form-control:focus, .register-form .form-control:focus {
  z-index: 2;
}

.login-form {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $input_color inset;
  }
  input {
    outline: none !important;
    background-color: $input_color;
    border-radius: 0 !important;
  }
  input[type="text"] {
    margin-bottom: -1px;
  }
  input[type="submit"] {
    margin-top: 20px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.register-form, .edit-user-form {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $input_color inset;
  }
  input {
    outline: none;
    background-color: $input_color;
    border-radius: 0 !important;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    margin-bottom: -1px;
  }
  input[type="submit"] {
    margin-top: 20px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}


.reset-password-form, .change-password-form {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $input_color inset;
  }
  input {
    outline: none !important;
    background-color: $input_color;
    border-radius: 0 !important;
  }
  input[type="submit"] {
    margin-top: 20px !important;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 20px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

.edit-article-form, .new-article-form, .edit-info-form, .new-info-form{
  input[type="text"], textarea {
    background-color: $input_color;
  }

  input[type="submit"] {
    margin-top: 20px;
  }
}

.edit-comment-form, .new-comment-form {
  input[type="text"], textarea {
    background-color: $input_color;
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}



/* debug */

.debug_dump {
  margin-top: 40px;
  background-color: #6e6e6e;
  color: #EFEFEF;
  border-color: black;
}

/* navbar */

#myNavbar {

}

a {
  color: #0babf4 !important;
}

a:hover {
  color: #3cbcf6 !important;
}

.nav-link {
  color: #66C2FF !important;
  font-family: Lato, sans-serif !important;
  font-size: 15px;
  i {
    color: $input_color !important;
    font-size: 12px;
  }
}

.site-name {
  color: $input_color !important;
  font-family: Helvetica, sans-serif !important;
  font-size: 25px;
}

.nav-link:hover {
  color: #5CD6FF !important;
}

/*flash and errors*/

.alert-error, .alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success, .alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


hr {
  border-color: $input_color  ;
}

/* article and comments */

.articles-list, .infos-list {
  h1 {
    margin-bottom: 50px;
  }
}

.comments-header {
  margin-top: 80px;
}

.comments-toggle:visited, .comments-toggle:hover, .comments-toggle:active,
  .comments-toggle:link {
  color: #94D4FF;
  text-decoration: none;
}

.article-date {

  margin-bottom: 30px;
  font-size: 13px;
  //float: right;
}

.article {
  margin-top: 30px;
  font-size: 15px;
  h1 {
    color: #94D4FF;
  }
  h2 {
    a:visited, a:hover, a:active,
    a:link {
      color: #94D4FF;
      //color: lightblue;
      text-decoration: none;
    }
  }
}

.article-content {
  margin-top: 20px;
}

.comments {
  margin-top: 30px;
  h3 {
    margin-bottom: 30px;
  }
}

.comment {
  font-size: 15px;
  margin-left: 10px;
}

.comment-info, .info-info {
  font-size: 12px;
  margin-top: 10px;
}

.comment-edit-delete {
 margin-top: 10px;
}

.comment-hr{
  margin-left: 10px;
}

.article-edit-delete {
  margin-top: 20px;
}

.article-list-links  {
  margin-top: 20px;
}

.comment-text-area {
  max-height: 400px;
}

.purr {
  background-color: #474747;
}

/* buttons */

.btn {
  color: #e7f7fe !important;
  background-color: #0babf4 !important;
}

.btn:hover {
  color: white !important;
  background-color: #3cbcf6 !important;
}

.btn-comment {
  width: 50%;
}

.btn-article {
  width: 50%;
}

.ok-cancel-comment {
  width: 12%;
}


/* links */

.login-links, .register-links, .reset-password-links {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-article-link {
  float: right;
}

/* static pages */
.home-page {
  font-size: 15px;
}

.contact-page {
  font-size: 15px;
}

input[type="submit"] {
  color: $input_color;
}

/* pagination */

.duap_pagination {
  cursor: default;
  ul {
    background: black;
  }
  .next {
    background: black;
    color: black;
  }
  li {
    color: #0babf4;
  }
}

.pagination {
  li {
    background: black !important;
    display: inline;
  }
}
.digg_pagination {
  li {
    background: black !important;
    display: inline;
  }
  text-align: center;
  padding: 1em;
  cursor: default; }
.digg_pagination a, .digg_pagination span {
  padding: 0.2em 0.3em; }
.digg_pagination .disabled {
  color: #aaaaaa; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.digg_pagination a {
  text-decoration: none;
  color: black; }
.digg_pagination a:hover, .digg_pagination a:focus {
  text-decoration: underline; }

