<div class="row comment">
  <div class="col-md-12">
    <div class="col-md-9">
      <div class="info-info">
        <p>
          <%= info.created_at.to_formatted_s(:db) %>
          <% if info.created_at != info.updated_at %>
              , <%= t(:last_update) %>: <%= info.updated_at.to_formatted_s(:db) %>
          <% end %>
        </p>
      </div>
    </div>

  </div>
</div>
